@font-face {
  font-family: 'Eulyoo1945';
  src: url('/Eulyoo1945-Regular.ttf') format('truetype'),
       url('/Eulyoo1945-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;